CRYPTOAI_LIVE_TRADING_ENABLED=false
CRYPTOAI_PAPER_TRADING_ENABLED=true
CRYPTOAI_REQUIRE_MANUAL_CONFIRMATION=true
CRYPTOAI_MAX_LIVE_TRADE_USD=0
CRYPTOAI_MAX_DAILY_LOSS_USD=0
CRYPTOAI_AUTOPILOT_INTERVAL_SECONDS=300
CRYPTOAI_AUTOPILOT_ENABLE_PAPER_EXECUTION=true
CRYPTOAI_PAPER_STARTING_ETH=1
