POLYGON_RPC=https://polygon-bor-rpc.publicnode.com,https://polygon-rpc.com
ARBITRUM_RPC=https://arb1.arbitrum.io/rpc,https://arbitrum-one-rpc.publicnode.com
ETHEREUM_RPC=https://ethereum-rpc.publicnode.com,https://rpc.ankr.com/eth
BASE_RPC=https://base-rpc.publicnode.com,https://mainnet.base.org

CRYPTOAI_QUOTE_CACHE_SECONDS=120
CRYPTOAI_STALE_QUOTE_SECONDS=900
CRYPTOAI_PAPER_ALLOW_SIMULATED=true
CRYPTOAI_MIN_EDGE_FOR_PAPER_PCT=0.30
CRYPTOAI_MIN_AI_SCORE_FOR_PAPER=50

CRYPTOAI_PAPER_INITIAL_CASH_USD=10000
CRYPTOAI_MIN_PAPER_NOTIONAL_USD=25
CRYPTOAI_DEFAULT_PAPER_NOTIONAL_USD=100
CRYPTOAI_MAX_PAPER_NOTIONAL_USD=250
CRYPTOAI_PAPER_RISK_PER_TRADE_PCT=1.00
CRYPTOAI_PAPER_MAX_CASH_USAGE_PCT=10.00
CRYPTOAI_MAX_TOKEN_EXPOSURE_PCT=25.00
CRYPTOAI_MAX_CHAIN_EXPOSURE_PCT=50.00
CRYPTOAI_MAX_OPEN_POSITIONS=8
CRYPTOAI_MAX_DAILY_PAPER_TRADES=8
CRYPTOAI_TRADE_COOLDOWN_SECONDS=900
CRYPTOAI_DUPLICATE_SIGNAL_WINDOW_SECONDS=900
CRYPTOAI_MAX_DAILY_LOSS_USD=0

CRYPTOAI_LIVE_TRADING=false
CRYPTOAI_LIVE_TRADING_ENABLED=false


# v3.4 Professional Paper Execution Engine
CRYPTOAI_BLOCK_SAME_PAIR_OPEN_POSITION=true
CRYPTOAI_PAPER_SLIPPAGE_BPS=5
CRYPTOAI_MAX_PAPER_SLIPPAGE_BPS=35
CRYPTOAI_PAPER_EXECUTION_LATENCY_MS=250
CRYPTOAI_PAPER_PARTIAL_FILL_RATIO=1.00
CRYPTOAI_PAPER_TAKE_PROFIT_PCT=0.50
CRYPTOAI_PAPER_STOP_LOSS_PCT=0.35
CRYPTOAI_PAPER_MAX_HOLD_SECONDS=3600
CRYPTOAI_PAPER_ORDER_MAX_AGE_SECONDS=30
